.todo__task {
  max-width: 100%;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    -moz-animation: alternate               ;
}
}

.todo__deleteIcon {
  width: 20px;
  height: 20px;
  padding: 10px 0 10px 10px;

  cursor: pointer;

  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.1);
  }



}

.todo__task-text {
  margin: 0;
  width: calc(100% - 40px);
  word-wrap: break-word;
}
